h1 {
  text-align: center;
}

#levelSelectionSection ol {
  padding: 0;

  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 3em;
  row-gap: 2em;
}

#levelSelectionSection button {
  font-size: 200%;
}
